.Login {
  height: 100vh;
	width: 100vw;
	min-width: 256px;
  background: #F9D34C;
  position: fixed;
  top: 0;
  left: 0;
}

.form-group {
	height: 100vh;
	width: 25vw;
	min-width: 256px;
	background: #fff;
	position: fixed;
  top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-group input {
	margin-bottom: 25px;
	width: 80%;
	height: 50px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #ddd;
}

.form-group input:hover, .form-group input:focus {
	border-bottom: 1px solid #F9D34C;
}

.form-group div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

@font-face {
  font-family: SFfont;
  src: url(../../assets/SFProDisplay-Medium.woff);
}

.button-login {
	border: none;
	height: 50px;
	padding: 0 25px;;
	font-size: 22px;
  background: #F9D34C;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 15px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

.button-login:hover,
.button-login:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15),
    -1px -1px 4px rgba(255, 255, 255, 0.15);
}

.button-text {
	display: block;
	line-height: 35px;
}

.button-register {
	border: none;
	margin-top: 25px;
	color: #000;
	height: 35px;
	padding: 0 25px;
	font-size: 22px;
	font-weight: bold;
}
